/* https://cube.fyi/block.html */

/* TL;DR: Components styles */

.hero {
  margin-block-start: var(--space-l-2xl);
}

.hero :is(h1, h2) {
  text-transform: uppercase;
}

.hero a {
  text-decoration: none;
  font-weight: bold;
}

.hero a:hover {
  text-decoration: underline;
}

.features {
  --gutter: var(--space-l);
}

input {
  font-family: var(--font-heading);
  font-size: inherit;
}
input[type="submit"] {
  background-color: none;
  font-weight: 800;
}

.tag {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid var(--fg-color);
  border-radius: 999px;
  padding-block: 0.1em;
  padding-inline: 0.5em;
  margin-inline-end: 0.2em;
}

.tag::before {
  content: "#";
}

p + p {
  margin-block-start: 1em;
}

ul div.card a {
  display: block;
  padding: 3rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--fg-color);
}

ul div.card a {
  border-block-end: 0.2rem solid var(--fg-color);
}

div.card h2 {
  padding-block-end: 1rem;
}

div.card h3 {
  font-size: 1.8rem;
}
