---
import Layout from "@layouts/Layout.astro";
const articles = await Astro.glob("./*.md");
---

<Layout title="Archive | Radical Data" description="A collection of projects.">
  <main>
    <article>
      <section>
        <h1>Articles</h1>
        <p>Things We've Written</p>
        <ul>
          {
            articles.map((article) => (
              <li>
                <a href={article.url}>{article.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </article>
  </main>
</Layout>
<style>
  ul,
  li {
    font-family: "LindenHill";
  }
  article {
    max-width: min(55ch);
  }
  main {
    margin-block-end: 2rem;
  }
</style>
