---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Page Not Found | Radical Data"
  description="404 page of Radical Data"
>
  <main>
    <article>
      <section>
        <h1>Page not found</h1>
        <p>Can we show you something else instead?</p>
      </section>
    </article>
  </main>
</Layout>
<style>
  ul,
  li {
    font-family: "LindenHill";
  }
  article {
    max-width: min(55ch);
  }
  main {
    margin-block-end: 2rem;
  }
</style>
