---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="About | Radical Data"
  description="Radical Data is a collective using data and building tools for resistance and alternative futures."
>
  <main>
    <article>
      <section>
        <h1>About</h1>
        <p>
          Radical Data is a collective of researchers, artists and activists
          exploring the radical potential of data science.
        </p>
        <p>
          At the core are the founders: artist Rayén Mitrovich and mathematician
          Jo Kroese. Radical Data combine data and technology to create tools
          for resistance and alternative utopias.
        </p>
        <h2>Aims</h2>
        <p>
          We want to create a data science that works for citizens and
          communities, instead of destabilising democracies and selling us more
          shoes. In short, to reimagine the data revolution on our own terms,
          one that works for dignity, justice and joy.
        </p>
        <p>
          To make this a reality, we combine a DIY approach with a disregard for
          disciplinary boundaries, working across the worlds of art, activism,
          statistics, law, social science and critical theory. If we can use it,
          we're on it.
        </p>
        <p>The work we do falls into two categories:</p>
      </section>
      <section>
        <h2>Radical Data Research</h2>
        <p>
          Radical Data Research is where we explore and document emerging
          movements in data, art and activism.
        </p>
        <p>
          We give voice to architects using machine learning to expose war
          crimes, protesters outsmarting surveillance AI with lasers and
          collectives mapping queer experiences. We interview people, write
          articles and add projects to our growing database.
        </p>
        <p>
          We want to bring together these projects into a cohesive movement,
          acting as a toolkit of case studies, ideas and tactics. We aim to
          share ideas so that when creating a data project, with these
          references and tools, you don’t have to start from scratch each time.
          We want to inspire others to be able to reuse these techniques and
          even go further.
        </p>
      </section>
      <section>
        <h2>Radical Data Studio</h2>
        <p>
          Through Radical Data Studio, we combine our research with data
          science, statistics and design to develop, collaborate and consult on
          new projects.
        </p>
        <li>
          Statistical consultancy: Our statistical models have been used by NGOs
          to protect forests, by governments to count fish and by health
          organisations to target female genital cutting.
        </li>
        <li>
          Education: We create data toolkits for activists and educational
          workshops for visualising data.
        </li>
        <li>
          Design: We develop apps, maps, AI tools and 3D visualisations to
          promote dignity, justice and joy.
        </li>
      </section>
    </article>
  </main>
</Layout>
<style>
  ul,
  li {
    font-family: "LindenHill";
  }
  article {
    max-width: min(55ch);
  }
  main {
    margin-block-end: 2rem;
  }
</style>
