---
import MailingList from "~/components/MailingList.astro";
import SocialMediaLogos from "~/components/SocialMediaLogos.astro";
import Layout from "../layouts/Layout.astro";
// let currentYear = new Date().getFullYear();
import { SITE } from "../config";
import DarkModeToggle from "~/components/DarkModeToggle.astro";
---

<Layout title={`${SITE.title} | ${SITE.description}`}>
  <DarkModeToggle />
  <main>
    <article class="region prose wrapper hero">
      <h1>{SITE.name}</h1>

      <h2>
        Claiming <em>data</em> as a tool for <em>joy</em> and a million <span
          class="gradient-text">liberations</span
        >.
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <h3>collective</h3>
          <p>
            We are a collective of <em
              >mathematicians, technologists, dancers and designers</em
            > who believe that data, used with care, can move us towards a world
            that is <em>autonomous, just and joyful</em>.
          </p>
        </li>
        <li class="flow">
          <h3>studio</h3>
          <p>
            We create <em>data analyses</em> and <em>digital tools</em> that are
            infused with queerness and decoloniality.
          </p>
        </li>

        <li class="flow">
          <h3>research</h3>
          <p>
            We research how data is and can be used. For two years, we've been
            adding the best of what we've found to our <em>archive</em>.
          </p>
        </li>

        <li class="flow">
          <h3>education</h3>
          <p>
            We want to see activists, instead of fearing technology, use it as a
            tool shape the world. To do this, we regularly run <em>workshops</em
            > and create <em>videos</em> for social media.
          </p>
        </li>
      </ul>
    </article>

    <article class="region prose wrapper">
      <h2>Our Projects</h2>
      <h3>We're making data analyses, digital tools and writing books.</h3>
      <iframe
        title="Radical Data's Projects"
        class="airtable-embed"
        loading="lazy"
        src="https://airtable.com/embed/shrAb6rQcbGevZtlb?backgroundColor=red&viewControls=on"
        width="100%"
        height="533"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
    </article>

    <article class="region prose wrapper">
      <h2>The Radical Data Archive</h2>
      <h3>We research ways data is being used around the world.</h3>
      <iframe
        title="The Radical Data Archive"
        class="airtable-embed"
        loading="lazy"
        src="https://airtable.com/embed/shrN1QEkjzow25vTf?backgroundColor=red&viewControls=on"
        frameborder="0"
        width="100%"
        height="533"
        style="background: transparent; border: 1px solid #ccc;"></iframe>
      <p>
        Think a great project is missing from our archive? Submit it <a
          href="https://airtable.com/shr2cGQbbfIogLrun">here</a
        >!
      </p>
    </article>

    <footer class="region prose wrapper">
      <h2>Let's stay in touch.</h2>
      <section>
        <p>Join our <em>mailing list</em> to see what we do next:</p>
        <MailingList />
      </section>
      <section>
        <p>
          and follow us on <em>social media</em> to see what we're doing now:
        </p>
        <SocialMediaLogos />
      </section>
      <p>or <a href="https://airtable.com/shrBpNUSMSTQpOXQv">contact</a> us.</p>
      <!-- <section>
        <p id="copyright">© {currentYear} Radical Data. All rights reserved.</p>
      </section> -->
    </footer>
  </main>
</Layout>
