---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import CardFilter from "@components/CardFilter.astro";
import Statement from "@components/Statement.astro";
import SeeMore from "@components/SeeMore.astro";
import MasonryCardGrid from "@components/MasonryCardGrid.astro";
---

<Layout
  title="Radical Data | Data, Art and Activism"
  description="Radical Data is a collective using data and building tools for resistance and alternative futures."
>
  <main>
    <Hero />
    <article>
      <h2>
        <CardFilter />
      </h2>
      <MasonryCardGrid />
    </article>
    <section>
      <Statement
        body="We're using data to build a world that is more joyful and just."
      />
    </section>
    <section>
      <SeeMore />
    </section>
  </main>
</Layout>

<style>
  body {
    margin: auto;
    /* padding: 1.5rem; */
  }
  main {
    margin: auto;
    max-width: min(68ch, 90vw);
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    max-width: 30ch;
  }
</style>
