---
const { name, description, link } = Astro.props;
---

<div class="card">
  <a href={link}>
    <h2>{name}</h2>
    <h3>
      {
        description
          ? description.endsWith(".")
            ? description
            : `${description}.`
          : ""
      }
    </h3>
  </a>
</div>
