---
---

<span>
  A selection of our recent
  <span class="project">projects,</span>
  <span class="article">articles,</span>
  <span class="archive">archive</span>
  and
  <span class="information">information</span>.
</span>
<style>
  div {
    display: flex;
    align-items: center;
    margin-inline: auto;
  }
  ul {
    list-style: none;
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    padding: auto;
    /* padding-left: 0; */
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    margin: 1rem;
  }

  p {
    font-family: "Urbanist";
  }

  li > p {
    font-family: LindenHill;
  }

  span:where(.project, .article, .archive, .information)::before {
    content: "";
    width: 1ch;
    height: 1ch;
    /* margin-right: 0.5rem; */
    /* -moz-border-radius: 100%; */
    /* -webkit-border-radius: 100%; */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    /* vertical-align: middle; */
    white-space: nowrap;
  }

  .information::before {
    background-color: var(--lighter-grey);
    border-radius: 0;
  }

  .project::before {
    background-color: var(--rd-light-blue);
  }

  .archive::before {
    background-color: var(--rd-red);
  }

  .article::before {
    background-color: var(--rd-yellow);
  }
</style>
