---
import Card from "@components/Card.astro";
---

<div id="cards" role="list" class="link-card-grid">
  <slot />
</div>
<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: masonry;
    gap: 2rem;
    padding: 0;
  }
  @media (min-width: 800px) {
    .link-card-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
