<!-- <span class="dot"></span>
 --><!-- <script language="javascript" type="text/javascript" src="libraries/p5.min.js"
></script> --><!-- <script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"
  integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script is:inline type="text/javascript" src="../assets/splodge.js"></script> -->
<span class="dot"></span>
<style>
  .dot {
    height: 7rem;
    width: 7rem;
    background-color: var(--rd-red);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
  }
</style>
