---
// import "../assets/js/generator.js";
---

<script type="text/javascript" src="./src/assets/js/generator.js"></script>
<!-- <span class="generated-logo">queer autonomous data.</span> -->
<style></style>
