---
import GenerativeLogo from "@components/GenerativeLogo.astro";
import GenerativeSplodge from "@components/GenerativeSplodge.astro";
---

<div>
  <h1>Radical Data: Data, Art and Activism</h1>
  <h2><GenerativeLogo /></h2>
  <GenerativeSplodge />
  <p class="arrow">&darr;</p>
</div>
<!-- <p>Radical Data in 1 minute.</p> -->
<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    padding-block: 2rem 0rem;
  }
  h1 {
    display: none;
  }
  h2 {
    font-size: clamp(2.5rem, 10vw, 4rem);
    line-height: 100%;
    margin: 0;
    word-spacing: 9rem;
  }
  .arrow {
    font-size: 5rem;
    line-height: 0;
    color: var(--rd-red);
    margin-block: 3rem;
  }
</style>
