<form
  action="https://tinyletter.com/radicaldata"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://tinyletter.com/radicaldata', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
>
  <p>
    <label for="tlemail">:</label>
  </p><p>
    <input type="text" name="email" id="tlemail" placeholder="Your email" />
  </p><input type="hidden" value="1" name="embed" /><input
    type="submit"
    value="Subscribe"
  />
</form>
<style>
  label {
    display: none;
  }
  input {
    font-family: inherit;
    font-size: inherit;
  }
  input[type='submit'] {
    background-color: none;
  }
</style>
