---
---

<script
  type="text/javascript"
  is:inline
  src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
  sync
></script>
<script
  type="text/javascript"
  is:inline
  src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"
></script>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <slot />
</div>
<script type="text/javascript" is:inline>
  var grid = document.querySelector(".grid");

  var msnry = new Masonry(grid, {
    itemSelector: ".grid-item",
    columnWidth: ".grid-sizer",
    gutter: ".gutter-sizer",
    percentPosition: true,
  });

  imagesLoaded(grid).on("progress", function () {
    msnry.layout();
    // hack
    // setTimeout(function () {
    //   msnry.layout();
    // }, 1000);
  });

  imagesLoaded(grid).on("always", function () {
    msnry.layout();
  });

  msnry.layout();
  setTimeout(function () {
    msnry.layout();
  }, 300);
  // setTimeout(function () {
  //   msnry.layout();
  // }, 10000);
</script>
<style>
  * {
    box-sizing: border-box;
  }

  /* force scrollbar */
  html {
    overflow-y: scroll;
  }

  /* ---- grid ---- */

  /* clear fix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */
  .grid-sizer,
  .grid-item {
    width: 100%;
  }

  .grid-item {
    margin-block-end: 5%;
  }

  .gutter-sizer {
    width: 0;
  }

  @media (min-width: 800px) {
    .grid-sizer,
    .grid-item {
      width: 48%;
    }

    .gutter-sizer {
      width: 4%;
    }
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }
</style>
