---
---

<h2>See more</h2>
<div class="container">
  <div>
    <a class="one" href="/projects"
      ><span class="dot projects"></span> Our projects</a
    >
  </div>
  <div>
    <a class="two" href="/archive"
      ><span class="dot archive"></span>The Archive</a
    >
  </div>
  <div>
    <a class="three" href="/articles"
      ><span class="dot articles"></span>Articles</a
    >
  </div>
</div>
<style>
  div.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-block-end: 1.5rem;
  }
  h2 {
    max-width: 30ch;
    text-align: center;
    margin-inline: auto;
    font-size: 3rem;
    margin-block: 1rem;
  }
  /* div > p::before {
    content: "";
    position: absolute;
    display: inline-block;
    margin-top: -3vw;
    margin-left: -3.5vw;
    width: 7vw;
    height: 7vw;
    /* -moz-border-radius: 100%; */
  /* -webkit-border-radius: 100%; */
  /* border-radius: 50%;
    transition: background-color 0.5s;
    background-color: var(--rd-blue);
  } */
  .dot {
    height: clamp(20vw, 25vw, 7rem);
    /* height: minmax(7rem, 20vw); */
    width: clamp(20vw, 25vw, 7rem);
    border-radius: 50%;
    display: inherit;
    margin-inline: auto;
    margin-block-end: 0.5rem;
  }
  .dot.projects {
    background-color: var(--rd-light-blue);
  }
  .dot.archive {
    background-color: var(--rd-red);
  }
  .dot.articles {
    background-color: var(--rd-yellow);
  }

  a {
    text-decoration: none;
    color: inherit;
    display: inherit;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
  }
</style>
