---
export interface Props {
  body: string;
}

const { href, pretitle, posttitle, title, body, type, imgLink } = Astro.props;
---

<h2>{body}</h2>
<style>
  h2 {
    margin-block: 3rem;
    max-width: 30ch;
    text-align: center;
    margin-inline: auto;
  }
</style>
