---
import Layout from "@layouts/Layout.astro";
import { slugify } from "~/components/slugify";
const response = await fetch(
  `https://api.airtable.com/v0/${import.meta.env.DB_ID}/Projects`,
  {
    headers: {
      Authorization: `Bearer ${import.meta.env.DB_TOKEN}`,
    },
  }
);
const data = await response.json();
---

<Layout title={"Projects"}>
  <main>
    <article class="region prose wrapper">
      <h1>Projects</h1>
      <ul>
        {
          data.records.map((project: any) => (
            <li>
              <a href={`/projects/${slugify(project.fields.Name)}`}>
                {project.fields.Name}
              </a>
            </li>
          ))
        }
      </ul>
    </article>
  </main>
</Layout>
